:disabled {
  background-image: repeating-linear-gradient(
    -45deg,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2) 7px,
    rgba(255, 0, 0, 0.4) 7px,
    rgba(255, 0, 0, 0.4) 9px
  );
}

span.tableRowLocker::before {
  content: '🔓';
  padding: 3px;
}
span.tableRowLocker.lock::before {
  content: '🔒';
  padding: 3px;
  background-color: rgb(255, 0, 0, 0.4);
  border-radius: 50%;
}
